# 忽略匹配下列规则的Git 提交 V2.1.0
### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.lock
rebel.xml

### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz


mai
